{% comment %}
Renders cart drawer

Usage:
{% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<style>
  div#CartDrawer-CartErrors {
    display: none;
  }

  .drawer {
    visibility: hidden;
  }

  .cart-item a.cart-item__name.h4.break {
    font-size: 15px;
    line-height: 23px;
    color: #05243b;
    font-weight: 700;
  }

  .cart-item a.cart-item__name.h4.break:hover {
    text-decoration: none;
  }

  .cart-item button.quantity__button {
    border-radius: 100%;
    width: 35px;
    padding: 0;
    height: 35px;
    text-align: center;
    margin: 0 auto;
    color: #05243b !important;
    border-radius: 50% !important;
    border: 1px solid #05243b !important;
  }

  .cart-item button.button.button--tertiary.cart-remove-button {
    background: transparent;
  }

  .cart-item cart-remove-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -75px;
  }

  .cart-item .quantity:before,
  .cart-item .quantity:after {
    display: none;
  }

  .cart-drawer .cart-item__price-wrapper span.price {
    font-size: 16px !important;
    line-height: 24px;
    color: #000;
    height: 35px;
  }

  /* .product-option{display:none;} */
  .cart-item__price-wrapper {
    margin-top: 10px;
    position: relative;
    top: 51px;

  }

  .cart-drawer__footer h2.totals__total {
    font-size: 16px;
    line-height: 16px;
    color: #05243b;
  }

  .cart-drawer__footer p.totals__total-value {
    font-size: 14px !important;
    line-height: 14px;
    color: #000;
    font-weight: 700;
  }

  .cart-drawer__footer .cart-drawer .tax-note {
    font-size: 13px;
    line-height: 19px;
    color: #05243b;
  }

  .cart-item button.quantity__button:hover {
    background: #05243b !important;
    color: #fff !important;
  }
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div class="drawer__inner gradient color-{{ settings.cart_color_scheme }}" role="dialog" aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}" tabindex="-1">
      {%- if cart == empty -%}
      <div class="drawer__inner-empty">
        <div
          class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
          <div class="cart-drawer__empty-content">
            <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
            <button class="drawer__close" type="button" onclick="this.closest('cart-drawer').close()"
              aria-label="{{ 'accessibility.close' | t }}">
              <span class="svg-wrapper">
                {{- 'icon-close.svg' | inline_asset_content -}}
              </span>
            </button>
            <a href="{{ routes.all_products_collection_url }}" class="button">
              {{ 'general.continue_shopping' | t }}
            </a>

            {%- if shop.customer_accounts_enabled and customer == null -%}
            <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
            <p class="cart__login-paragraph">
              {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
            </p>
            {%- endif -%}
          </div>
        </div>
        {%- if settings.cart_drawer_collection != blank -%}
        <div class="cart-drawer__collection">
          {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
        </div>
        {%- endif -%}
      </div>
      {%- endif -%}
      <div class="drawer__header">
        <h2 class="drawer__heading">{{ 'sections.cart.title' | t }}</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
            <div class="drawer__cart-items-wrapper">
              <table class="cart-items" role="table">
                <thead role="rowgroup">
                  {% comment %}
                  <tr role="row">
                    <th id="CartDrawer-ColumnProductImage" role="columnheader">
                      <span class="visually-hidden">{{ 'sections.cart.headings.image' | t }}</span>
                    </th>
                        <th
                          id="CartDrawer-ColumnProduct"
                          class="caption-with-letter-spacing"
                          scope="col"
                          role="columnheader"
                        >
                      {{ 'sections.cart.headings.product' | t }}
                    </th>
                        <th
                          id="CartDrawer-ColumnTotal"
                          class="right caption-with-letter-spacing"
                          scope="col"
                          role="columnheader"
                        >
                      {{ 'sections.cart.headings.total' | t }}
                    </th>
                    <th id="CartDrawer-ColumnQuantity" role="columnheader">
                      <span class="visually-hidden">{{ 'sections.cart.headings.quantity' | t }}</span>
                    </th>
                  </tr>
                  {% endcomment %}
                </thead>

                <tbody role="rowgroup">
                  {%- for item in cart.items -%}
                  <tr id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                    class="cart-item {% if item.id == 51691708219764 %} membership-cart-item {% endif %}" role="row">

                    {% if item.id == 51691708219764 %}
                    <div class="membership-cart-wrap">
                      <div class="m-cart-left">
                        <h2>
                          Nora Membership
                        </h2>
                        <p>First month of a new membership is on us with your purchase. $5.99/month afterwards. </p>
                      </div>
                      <div class="m-cart-right">
                        <p><b>FREE</b><span> $5.99</span></p>
                        <quantity-popover>
                          <cart-remove-button id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}">
                            <button type="button" class="button button--tertiary cart-remove-button"
                              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                              data-variant-id="{{ item.variant.id }}">
                              Remove
                            </button>
                          </cart-remove-button>
                        </quantity-popover>
                      </div>
                    </div>
                    {% else %}





                    <td class="cart-item__media" role="cell" headers="CartDrawer-ColumnProductImage">
                      {% if item.image %}
                      {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                      <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                      {% endif %}
                    </td>

                    <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                      {%- if settings.show_vendor -%}
                      <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                      {%- endif -%}

                      <a href="{{ item.url }}" class="cart-item__name h4 break">
                        {{- item.product.title | escape -}}
                      </a>

                      {%- if item.original_price != item.final_price -%}
                      <div class="cart-item__discounted-prices">
                        <span class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </span>
                        <s class="cart-item__old-price product-option">
                          {{- item.original_price | money -}}
                        </s>
                        <span class="visually-hidden">
                          {{ 'products.product.price.sale_price' | t }}
                        </span>
                        <strong class="cart-item__final-price product-option">
                          {{ item.final_price | money }}
                        </strong>
                      </div>
                      {%- else -%}
                      {% comment %}
                      <div class="product-option">
                        {{ item.original_price | money }}
                      </div>
                      {% endcomment %}
                      {%- endif -%}

                      {%- if item.product.has_only_default_variant == false
                      or item.properties.size != 0
                      or item.selling_plan_allocation != null
                      -%}
                      <dl>
                        {%- if item.product.has_only_default_variant == false -%}
                        {%- for option in item.options_with_values -%}
                        <div class="product-option">
                          <dt>{{ option.name }}:</dt>
                          <dd>
                            {{ option.value -}}
                            {%- unless forloop.last %}, {% endunless %}
                          </dd>
                        </div>
                        {%- endfor -%}
                        {%- endif -%}

                        {%- for property in item.properties -%}
                        {%- assign property_first_char = property.first | slice: 0 -%}
                        {%- if property.last != blank and property_first_char != '_' -%}
                        <div class="product-option">
                          <dt>{{ property.first }}:</dt>
                          <dd>
                            {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                              {{ property.last | split: '/' | last }}
                            </a>
                            {%- else -%}
                            {{ property.last }}
                            {%- endif -%}
                          </dd>
                        </div>
                        {%- endif -%}
                        {%- endfor -%}
                      </dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                      {%- endif -%}

                          <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                        {%- for discount in item.line_level_discount_allocations -%}
                        <li class="discounts__discount">
                          {{- 'icon-discount.svg' | inline_asset_content -}}
                          {{ discount.discount_application.title }}
                        </li>
                        {%- endfor -%}
                      </ul>
                    </td>

                    <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                      {%- render 'loading-spinner' -%}
                      <div class="cart-item__price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                        <div class="cart-item__discounted-prices">
                          <span class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </span>
                          <s class="cart-item__old-price price price--end">
                            {{ item.original_line_price | money }}
                          </s>
                          <span class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </span>
                          <span class="price price--end">
                            {{ item.final_line_price | money }}
                          </span>
                        </div>
                        {%- else -%}
                        <span class="price price--end">
                          {{ item.original_line_price | money }}
                        </span>
                        {%- endif -%}

                        {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ item.unit_price | money }}
                          <span aria-hidden="true">/</span>
                                <span class="visually-hidden"
                                  >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                >
                          {%- if item.unit_price_measurement.reference_value != 1 -%}
                          {{- item.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.unit_price_measurement.reference_unit }}
                        </div>
                        {%- endif -%}
                      </div>
                    </td>
                    {%- liquid
                    assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                    assign has_qty_rules = true
                    endif

                    assign has_vol_pricing = false
                    if item.variant.quantity_price_breaks.size > 0
                    assign has_vol_pricing = true
                    endif
                    -%}
                    <td
                      class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                          role="cell"
                          headers="CartDrawer-ColumnQuantity"
                        >
                      <quantity-popover>
                        <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                            <quantity-input class="quantity cart-quantity">
                              <button class="quantity__button" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{-
                                  'products.product.quantity.decrease'
                                  | t: product: item.product.title
                                  | escape
                                  -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-minus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                              <button class="quantity__button" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{-
                                  'products.product.quantity.increase'
                                  | t: product: item.product.title
                                  | escape
                                  -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-plus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </quantity-input>
                          </div>
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary cart-remove-button"
                              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                  data-variant-id="{{ item.variant.id }}"
                                >
                              <span class="svg-wrapper">
                                {{- 'icon-remove.svg' | inline_asset_content -}}
                              </span>
                            </button>
                          </cart-remove-button>
                        </div>
                        {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                          class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                aria-expanded="false"
                              >
                          <span class="svg-wrapper">
                            {{- 'icon-info.svg' | inline_asset_content -}}
                          </span>
                          <span>
                            {%- if has_vol_pricing -%}
                            {{ 'products.product.volume_pricing.note' | t }}
                            {%- elsif has_qty_rules -%}
                            {{ 'products.product.quantity.note' | t }}
                            {%- endif -%}
                          </span>
                        </button>
                        {%- endif -%}
                        {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                          {%- if has_qty_rules == false -%}
                          <span class="volume-pricing-label caption">
                            {{- 'products.product.volume_pricing.title' | t -}}
                          </span>
                          {%- endif -%}
                          <div class="quantity__rules caption">
                            {%- if item.variant.quantity_rule.increment > 1 -%}
                            <span class="divider">
                              {{-
                              'products.product.quantity.multiples_of'
                              | t: quantity: item.variant.quantity_rule.increment
                              -}}
                            </span>
                            {%- endif -%}
                            {%- if item.variant.quantity_rule.min > 1 -%}
                            <span class="divider">
                              {{-
                              'products.product.quantity.min_of'
                              | t: quantity: item.variant.quantity_rule.min
                              -}}
                            </span>
                            {%- endif -%}
                            {%- if item.variant.quantity_rule.max != null -%}
                            <span class="divider">
                              {{-
                              'products.product.quantity.max_of'
                              | t: quantity: item.variant.quantity_rule.max
                              -}}
                            </span>
                            {%- endif -%}
                          </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                            <span class="svg-wrapper">
                              {{- 'icon-close.svg' | inline_asset_content -}}
                            </span>
                          </button>
                          {%- if item.variant.quantity_price_breaks.size > 0 -%}
                          <volume-pricing class="parent-display">
                            <ul class="list-unstyled">
                              <li>
                                <span>{{ item.variant.quantity_rule.min }}+</span>
                                <span>{{ item.variant.price | money_with_currency }}/ea</span>
                              </li>
                              {%- for price_break in item.variant.quantity_price_breaks -%}
                              <li>
                                <span>
                                  {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                <span>{{ price_break.price | money_with_currency }}/ea</span>
                              </li>
                              {%- endfor -%}
                            </ul>
                          </volume-pricing>
                          {%- endif -%}
                        </div>
                        {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                          <small class="cart-item__error-text"></small>
                          <span class="svg-wrapper">
                            {{- 'icon-error.svg' | inline_asset_content -}}
                          </span>
                        </div>
                      </quantity-popover>
                    </td>
                    {% endif %}
                  </tr>
                  {%- endfor -%}
                </tbody>
              </table>
            </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </cart-drawer-items>

      <div class="drawer__footer">
        <div class="promo-icon-flex">
          <div class="promo-main">
            <div class="promoicon">
              <!--
                <img src="https://cdn.shopify.com/s/files/1/1053/4408/files/location-svgrepo-com.svg?v=1701867045">
              -->

              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="40" height="40" rx="20" fill="currentColor" fill-opacity="0.05"></rect> <path d="M21.5625 20.9375H18.4375C17.5746 20.9375 16.875 20.2379 16.875 19.375V16.25C16.875 15.3871 17.5746 14.6875 18.4375 14.6875H21.5625C22.4254 14.6875 23.125 15.3871 23.125 16.25V19.375C23.125 20.2379 22.4254 20.9375 21.5625 20.9375Z" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M20 14.6875V16.25" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M20 29.2188C20 24.6423 27.0312 23.2812 27.0312 17.8125C27.0312 13.9293 23.8832 10.7812 20 10.7812C16.1168 10.7812 12.9688 13.9293 12.9688 17.8125C12.9688 23.2812 20 24.6423 20 29.2188Z" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
            <div class="promotext">
              <span
                >Delivery<br>
                tracking</span
              >
            </div>
          </div>
          <div class="promo-main">
            <div class="promoicon">
              <!--
                <img src="https://cdn.shopify.com/s/files/1/1053/4408/files/package-arrows-user-svgrepo-com.svg?v=1701867045">
              -->

              <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" width="40" height="40" rx="20" fill="currentColor" fill-opacity="0.05"></rect> <g clip-path="url(#clip0_526_2356)"><mask id="mask0_526_2356" maskUnits="userSpaceOnUse" x="11" y="10" width="20" height="20" style="mask-type:luminance"><path d="M30.5 29.5V10.5H11.5V29.5H30.5Z" fill="white" stroke="white"></path></mask> <g mask="url(#mask0_526_2356)"><path d="M30.219 20.1562C30.219 17.5674 29.1696 15.2237 27.4731 13.5271C25.7766 11.8306 23.4328 10.7812 20.844 10.7812C18.2552 10.7812 15.9114 11.8306 14.2148 13.5271L14.594 10.7812" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M11.7812 19.8438C11.7812 22.4326 12.8306 24.7763 14.5271 26.4729C16.2237 28.1694 18.5674 29.2188 21.1562 29.2188C23.7451 29.2188 26.0888 28.1694 27.7854 26.4729L27.4062 29.2188" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M25.6875 23.125C25.6875 23.9879 24.9879 24.6875 24.125 24.6875H17.875C17.0121 24.6875 16.3125 23.9879 16.3125 23.125V16.875C16.3125 16.0121 17.0121 15.3125 17.875 15.3125H24.125C24.9879 15.3125 25.6875 16.0121 25.6875 16.875V23.125Z" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 18.4375V15.3125" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></g></g> <defs><clipPath id="clip0_526_2356"><rect width="20" height="20" fill="white" transform="translate(11 10)"></rect></clipPath></defs>
              </svg>
            </div>
            <div class="promotext">
              <span
                >Try out <br>
                30 days</span
              >
            </div>
          </div>
          <div class="promo-main">
            <div class="promoicon">
              <!--
                <img src="https://cdn.shopify.com/s/files/1/1053/4408/files/money-back-business-warranty-satisfaction-marketing-guaranted-svgrepo-com.svg?v=1701867046">
              -->

              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="40" height="40" rx="20" fill="currentColor" fill-opacity="0.05"></rect> <g clip-path="url(#clip0_526_2375)"><mask id="mask0_526_2375" maskUnits="userSpaceOnUse" x="10" y="10" width="20" height="20" style="mask-type:luminance"><path d="M29.5 29.5V10.5H10.5V29.5H29.5Z" fill="white" stroke="white"></path></mask> <g mask="url(#mask0_526_2375)"><path d="M18.5937 18.5938C17.7308 18.5938 17.0312 17.8942 17.0312 17.0313C17.0312 16.1683 17.7308 15.4688 18.5937 15.4688C19.4567 15.4688 20.1562 16.1683 20.1562 17.0313" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M18.5937 18.5938C19.4567 18.5938 20.1562 19.2933 20.1562 20.1563C20.1562 21.0192 19.4567 21.7188 18.5937 21.7188C17.7308 21.7188 17.0312 21.0192 17.0312 20.1563" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M18.5938 13.9063V15.4688" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M18.5938 21.7188V23.2812" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M22.9688 29.2188H26.875C28.1694 29.2188 29.2187 28.1694 29.2187 26.875C29.2187 25.5806 28.1694 24.5312 26.875 24.5312H22.9688" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M24.5312 26.0938L22.9688 24.5313L24.5312 22.9688" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M20.2487 26.2306C19.7153 26.3457 19.1616 26.4062 18.5937 26.4062C14.279 26.4062 10.7812 22.9085 10.7812 18.5938C10.7812 14.279 14.279 10.7813 18.5937 10.7813C22.9085 10.7813 26.4062 14.279 26.4062 18.5938C26.4062 19.1289 26.3525 19.6514 26.25 20.1563" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></g></g> <defs><clipPath id="clip0_526_2375"><rect width="20" height="20" fill="white" transform="translate(10 10)"></rect></clipPath></defs>
              </svg>
            </div>
            <div class="promotext">
              <span
                >100% Money <br>
                back</span
              >
            </div>
          </div>
        </div>

        {%- if settings.show_cart_note -%}
        <details id="Details-CartDrawer">
          <summary>
            <span class="summary__title">
              {{ 'sections.cart.note' | t }}
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </summary>
          <cart-note class="cart__note field">
            <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
          </cart-note>
        </details>
        {%- endif -%}

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
            <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
              {%- for discount in cart.cart_level_discount_applications -%}
              <li class="discounts__discount discounts__discount--end">
                {{- 'icon-discount.svg' | inline_asset_content -}}
                {{ discount.title | escape }}
                (-{{ discount.total_allocated_amount | money }})
              </li>
              {%- endfor -%}
            </ul>
            {%- endif -%}
          </div>

          <div class="totals" role="status">
            <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
            <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
          </div>

          <small class="tax-note caption-large rte">
            {%- if cart.duties_included and cart.taxes_included -%}
            {%- if shop.shipping_policy.body == blank -%}
            {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
            {%- else -%}
            {{
            'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
            | t: link: shop.shipping_policy.url
            }}
            {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included -%}
            {%- if shop.shipping_policy.body == blank -%}
            {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
            {%- else -%}
            {{
            'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
            | t: link: shop.shipping_policy.url
            }}
            {%- endif -%}
            {%- elsif cart.duties_included and cart.taxes_included == false -%}
            {%- if shop.shipping_policy.body == blank -%}
            {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
            {%- else -%}
            {{
            'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
            | t: link: shop.shipping_policy.url
            }}
            {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
            {%- if shop.shipping_policy.body == blank -%}
            {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
            {%- else -%}
            {{
            'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
            | t: link: shop.shipping_policy.url
            }}
            {%- endif -%}
            {%- endif -%}
          </small>
        </div>

        <!-- CTAs -->

        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button button"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>

        <div class="cart-drawers-logos">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/1053/4408/files/Google_Pay_Logo.png?v=1701865691">
          <img
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/1053/4408/files/apple-pay-removebg-preview.png?v=1701866331"
          >
          <img
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/1053/4408/files/visa-removebg-preview.png?v=1701866391"
          >
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/1053/4408/files/paypal.svg?v=1701865937">
          <img
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/1053/4408/files/Screenshot_from_2023-12-06_18-12-11.png?v=1701866546"
          >
          <img
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/1053/4408/files/icons8-mastercard-120.png?v=1701865861"
          >
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/1053/4408/files/Affirm_logo.png?v=1701865691">
        </div>
      </div>
    </div>
  </div>
</cart-drawer>
