{{ 'accesories-membership-perks.css' | asset_url | stylesheet_tag }}

<div class="nora-membership" id="membership">
  <div class="nora-membership__container">
    <div class="membership-wrap">
      <div class="membership-wrap__left">
        <div class="membership-wrap__header">
          <span class="membership-wrap__icon">
            <img src="{{ section.settings.pre_heading_icon |  img_url: 'master' }}">
            {{ section.settings.pre_heading }}
          </span>
          <h2 class="membership-wrap__title">{{ section.settings.heading }}</h2>
        </div>
        <p class="membership-wrap__description">
          {{ section.settings.content }}
        </p>
        <div class="offer-content-wrapper">
          <h3 class="membership-wrap__title">{{ section.settings.offer_heading }}</h3>
          <p class="membership-wrap__description">
            {{ section.settings.offer_content }}
          </p>
        </div>
        <div class="membership-wrap__price">
          <p class="membership-wrap__price-text">
            <strike>{{ section.settings.price }}</strike> {{ section.settings.dis_price }}
          </p>
        </div>
        <div class="membership-wrap__cta">
          {% comment %}
            {% include 'accessories-membership-button' %}
          {% endcomment %}
          <a
            href="/cart/add?{{ section.settings.button_link }}&return_to=/cart"
            class="membership-wrap__cta-button"
            id="buyNowLink"
          >
            <svg
              class="custom-header-icon custom-header-home"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
            </svg>
            <svg
              class="custom-header-icon custom-header-rocket"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
              </path>
            </svg>
            {{ section.settings.button_label }}
          </a>
        </div>
      </div>

      <div class="membership-wrap__right">
        <div class="membership-wrap__benefits">
          {% for block in section.blocks %}
            <div class="m-benefit">
              <div class="benefit__icon">
                <img src="{{ block.settings.icon |  img_url: 'master' }}" alt="Discounted Products Icon">
              </div>
              <div class="benefit__content">
                <h4 class="benefit__title">{{ block.settings.title }}</h4>
                <p class="benefit__description">{{ block.settings.content }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Membership Perks",
  "settings": [
    {
      "type": "image_picker",
      "label": "Pre Heading Icon",
      "id": "pre_heading_icon"
    },
    {
      "type": "text",
      "label": "Pre Heading",
      "id": "pre_heading"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "html",
      "label": "Content",
      "id": "content"
    },
    {
      "type": "text",
      "label": "Offer Heading",
      "id": "offer_heading"
    },
    {
      "type": "html",
      "label": "Content",
      "id": "offer_content"
    },
    {
      "type": "text",
      "label": "Price",
      "id": "price"
    },
    {
      "type": "text",
      "label": "Discount Price",
      "id": "dis_price"
    },
    {
      "type": "text",
      "label": "Button Label",
      "id": "button_label"
    },
    {
      "type": "text",
      "label": "Button Link",
      "id": "button_link"
    }
  ],
  "blocks": [
    {
      "type": "perks",
      "name": "Perks",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "label": "Icon",
          "id": "icon"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "html",
          "label": "Content",
          "id": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Membership Perks"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
