{{ 'section-companion-cta.css' | asset_url |  stylesheet_tag   }}

<div class="main-gen-device white-text component">
	<div class="g-top-shape"></div>
	<div class="container">
    <div class="gen-cover">
			<div class="gen-left">
				<div class="get-left-inner">
				<h2>{{section.settings.heading}}</h2>
				<p>{{section.settings.content}}</p>
				<div class="multi-btn-wrap">
					<div class="btn-one">
					<a id="chat-click" href="javascript:void(0);"><img src="https://cdn.shopify.com/s/files/1/1053/4408/files/Chat_Icon_Green.svg?v=1733909904">{{section.settings.button_label}}</a>
					</div>
					<div class="btn-one">
					<a href="{{  section.settings.button_link_1  }}">{{ section.settings.button_label_1 }}</a>
          </div>
					</div>
        </div>
				</div>
				<div class="gen-right">
          <img src="{{section.settings.image |  img_url: 'master'}}">
        </div>
		</div>
	</div>
</div>

<script>
  document.getElementById('chat-click').addEventListener('click', function () {
  document.getElementById('zsiq_float').click();
});
</script>

{% schema %}
    {
      "name": "Companion CTA",
      "class": "companion-cta",
      "settings": [
        {
          "type": "html",
          "label": "Heading",
          "id": "heading"
        },
        {
          "type": "html",
          "label": "Content",
          "id": "content"
        },
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "label": "Button Label",
          "id": "button_label"
        },
        {
          "type": "url",
          "label": "Button Link",
          "id": "button_link"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "label": "Button Label",
          "id": "button_label_1"
        },
        {
          "type": "url",
          "label": "Button Link",
          "id": "button_link_1"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        }
      ],
      "presets": [
        {
          "name": "Companion CTA"
        }
      ]
    }
    {% endschema %}
    
    {% stylesheet %}
    {% endstylesheet %}
    
    {% javascript %}
    {% endjavascript %}
    