{{ 'gen-2-how-work-banner.css' | asset_url | stylesheet_tag }}
<div class="smart-nora-gen2-video-wrapper">
  <div class="container">
    <div class="main-page-title text-center">
      <h1>{{ section.settings.heading }}</h1>
      <p>{{ section.settings.sub_heading }}</p>
    </div>
    <div class="anti-snore-video-two-sec">
      <div>
        <div class="anti-snore-video-wrapper">
          <video
            class="main-auto-video"
            autoplay
            loop
            muted
            playsinline
          >
            <source src="{{ section.settings.front_video.sources[1].url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <a class="home-vid-two-btn" href="{{ section.settings.main_video.sources[1].url }}" data-fancybox="">
            <span>See how it works</span>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a
        href="{{ section.settings.button_link }}"
        class="custom-header-button product-form__submit button button--primary"
      >
        <svg
          class="custom-header-icon custom-header-home"
          width="24"
          height="24"
          viewBox="0 0 18 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.32786 1.42785C6.2421 0.513614 7.48207 0 8.775 0C10.0679 0 11.3079 0.513614 12.2221 1.42785C13.1364 2.34209 13.65 3.58207 13.65 4.875V5.85H15.6C16.1071 5.85 16.5295 6.2387 16.5716 6.74403L17.5466 18.444C17.5693 18.7157 17.4771 18.9845 17.2925 19.1852C17.1079 19.3858 16.8477 19.5 16.575 19.5H0.975003C0.702342 19.5 0.442139 19.3858 0.257518 19.1852C0.0728968 18.9845 -0.0192722 18.7157 0.00337102 18.444L0.978371 6.74403C1.02048 6.2387 1.44292 5.85 1.95 5.85H3.9V4.875C3.9 3.58207 4.41362 2.34209 5.32786 1.42785ZM3.9 7.8V8.775C3.9 9.31348 4.33653 9.75 4.875 9.75C5.41348 9.75 5.85 9.31348 5.85 8.775V7.8H11.7V8.775C11.7 9.31348 12.1365 9.75 12.675 9.75C13.2135 9.75 13.65 9.31348 13.65 8.775V7.8H14.7029L15.5154 17.55H2.03463L2.84713 7.8H3.9ZM11.7 5.85H5.85V4.875C5.85 4.09924 6.15817 3.35526 6.70672 2.80671C7.25526 2.25817 7.99924 1.95 8.775 1.95C9.55076 1.95 10.2947 2.25817 10.8433 2.80671C11.3918 3.35526 11.7 4.09924 11.7 4.875V5.85Z"
            fill="white"
          />
        </svg>
        <svg
          class="custom-header-icon custom-header-rocket"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"></path>
        </svg>
        {{ section.settings.button_label }}
      </a>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const playIcon = document.getElementById("playIcon");
    const video = document.querySelector(".video-wrapper");
    playIcon.addEventListener("click", function () {
      if (video.paused) {
        video.play();
        playIcon.innerHTML = '<i class="fa-solid fa-pause"></i>';
      } else {
        video.pause();
        playIcon.innerHTML = '<i class="fa-solid fa-play"></i>';
      }
    });
  });
</script>
{% schema %}
{
  "name": "How It Works Banner",
  "settings": [
    {
      "type": "html",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "html",
      "label": "Sub Heading",
      "id": "sub_heading"
    },
    {
      "type": "text",
      "label": "Button Label",
      "id": "button_label"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    },
       {
      "type": "video",
      "label": "Front Video",
      "id": "front_video"
    },
    {
      "type": "video",
      "label": "Main Video",
      "id": "main_video"
    }
  ],
  "presets": [
    {
      "name": "Gen 2 How It Works Banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
