{{ 'gen-2-pro-zigzag.css' | asset_url | stylesheet_tag }}

<div class="what_to_expect_section">
  <div class="container">
    <div class="what-to-expect-title">
      <div class="tagline">
        <img src="https://cdn.shopify.com/s/files/1/1053/4408/files/heading-icon.svg?v=1743072329" alt="Icon">
        <span>{{ section.settings.pre_heading }}</span>
      </div>
      <h2>{{ section.settings.heading }}</h2>
    </div>
    <div class="what_to_expect_block_wrapper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide left-right-block-wrapper {% if forloop.index == 2 %}direction-reverce{% endif %}">
            <div class="half-img-block">
              <div class="half-img-cover">
                <img src="{{ block.settings.image | img_url : 'master' }}" alt="Your new nightly routine">
              </div>
            </div>
            <div class="half-content-block">
              <div class="content-cover">
                <h3>{{ block.settings.title }}</h3>
                <p>
                  {{ block.settings.content }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<script>
  if ($(window).width() < 767) {
        let slider = new Swiper('.what_to_expect_block_wrapper', {
            slidesPerView: 1.02,
            centeredSlides: false,
            spaceBetween: 20,
            loop: false,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    }
</script>

{% schema %}
{
  "name": "Zig Zag",
  "settings": [
    {
      "type": "html",
      "label": "Pre Heading",
      "id": "pre_heading"
    },
    {
      "type": "html",
      "label": "Heading",
      "id": "heading"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "html",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "html",
          "label": "Content",
          "id": "content"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gen 2 Pro Zig Zag"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
