{{ 'section-nora-steps.css' | asset_url | stylesheet_tag }}

<div class="how-nora-works component">
  <div class="how-nora-works-container">
    <h2>
      {{ section.settings.title }}
    </h2>
    <div class="nora-works-slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <img src="{{ block.settings.image | img_url : 'master'}}" alt="steps" loading="lazy">
            <h3 class="steps-title">{{ block.settings.content }}</h3>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="nora-work-btn">
      <a href="{{ section.settings.btn_link }}">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none">
            <path d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"> </path>
          </svg>
          <span>{{ section.settings.btn_label }}</span>
        </span>
      </a>
    </div>
  </div>
</div>

<script>
  // Nora Works Slider
  var swiper = new Swiper('.nora-works-slider', {
    slidesPerView: 3,
    slidesPerGroup: 1,
    spaceBetween: 10,
    loop:true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      767: {
        slidesPerView: 1.18,
        centeredSlides: true,
        spaceBetween: 20,
      }
    }
  });
</script>
{% schema %}
{
  "name": "Nora Steps",
  "tag": "section",
  "settings": [
    {
      "type": "html",
      "label": "Title",
      "id": "title"
    },
        {
      "type": "text",
      "label": "Button Label",
      "id": "btn_label"
    },
            {
      "type": "url",
      "label": "Button Link",
      "id": "btn_link"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Content",
          "id": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Nora Steps"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
