{{ 'section-usp.css' | asset_url | stylesheet_tag }}
<style>
    @media screen and (max-width: 767px) {
      .index .shipping-section {
          padding: 52px 0 13px;
      }
  }
</style>
<div class="shipping-section">
  <div class="shipping-container">
    <div class="shipping-block-wrapper">
      <div class="shipping-items">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M11.6371 7.10937V11.8891L15.2219 15.4738M22.3914 11.8891C22.3914 13.3013 22.1132 14.6998 21.5728 16.0045C21.0323 17.3093 20.2402 18.4949 19.2415 19.4935C18.2429 20.4921 17.0574 21.2843 15.7526 21.8247C14.4478 22.3652 13.0494 22.6433 11.6371 22.6433C10.2248 22.6433 8.82638 22.3652 7.52161 21.8247C6.21684 21.2843 5.0313 20.4921 4.03267 19.4935C3.03404 18.4949 2.24189 17.3093 1.70143 16.0045C1.16098 14.6998 0.882812 13.3013 0.882813 11.8891C0.882813 9.03684 2.01585 6.30144 4.03267 4.28462C6.04949 2.2678 8.78489 1.13477 11.6371 1.13477C14.4893 1.13477 17.2247 2.2678 19.2415 4.28462C21.2584 6.30144 22.3914 9.03684 22.3914 11.8891Z" stroke="black" stroke-width="1.72069" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <h3>{{ section.settings.title_1 }}</h3>
        <p>{{ section.settings.description_1 }}</p>
      </div>
      <div class="shipping-items">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19" viewBox="0 0 24 19" fill="none">
          <path d="M13.1914 14.2789V2.32969C13.1914 2.01277 13.0655 1.70884 12.8414 1.48475C12.6173 1.26066 12.3134 1.13477 11.9965 1.13477H2.43711C2.1202 1.13477 1.81626 1.26066 1.59217 1.48475C1.36808 1.70884 1.24219 2.01277 1.24219 2.32969V14.2789C1.24219 14.5958 1.36808 14.8997 1.59217 15.1238C1.81626 15.3479 2.1202 15.4738 2.43711 15.4738H3.63203M13.1914 14.2789C13.1914 14.5958 13.0655 14.8997 12.8414 15.1238C12.6173 15.3479 12.3134 15.4738 11.9965 15.4738H8.41171M13.1914 14.2789V4.71953C13.1914 4.40262 13.3173 4.09868 13.5414 3.87459C13.7655 3.6505 14.0694 3.52461 14.3863 3.52461H17.4764C17.7933 3.52468 18.0972 3.65061 18.3212 3.87472L22.4007 7.95418C22.6248 8.17822 22.7507 8.4821 22.7508 8.79899V14.2789C22.7508 14.5958 22.6249 14.8997 22.4008 15.1238C22.1767 15.3479 21.8728 15.4738 21.5558 15.4738H20.3609M13.1914 14.2789C13.1914 14.5958 13.3173 14.8997 13.5414 15.1238C13.7655 15.3479 14.0694 15.4738 14.3863 15.4738H15.5812M3.63203 15.4738C3.63203 16.1076 3.88382 16.7155 4.332 17.1637C4.78018 17.6119 5.38805 17.8637 6.02187 17.8637C6.6557 17.8637 7.26356 17.6119 7.71175 17.1637C8.15993 16.7155 8.41171 16.1076 8.41171 15.4738M3.63203 15.4738C3.63203 14.84 3.88382 14.2321 4.332 13.7839C4.78018 13.3358 5.38805 13.084 6.02187 13.084C6.6557 13.084 7.26356 13.3358 7.71175 13.7839C8.15993 14.2321 8.41171 14.84 8.41171 15.4738M20.3609 15.4738C20.3609 16.1076 20.1091 16.7155 19.661 17.1637C19.2128 17.6119 18.6049 17.8637 17.9711 17.8637C17.3373 17.8637 16.7294 17.6119 16.2812 17.1637C15.833 16.7155 15.5812 16.1076 15.5812 15.4738M20.3609 15.4738C20.3609 14.84 20.1091 14.2321 19.661 13.7839C19.2128 13.3358 18.6049 13.084 17.9711 13.084C17.3373 13.084 16.7294 13.3358 16.2812 13.7839C15.833 14.2321 15.5812 14.84 15.5812 15.4738" stroke="black" stroke-width="1.72069" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <h3>{{ section.settings.title_2 }}</h3>
        <p>{{ section.settings.description_2 }}</p>
      </div>
      <div class="shipping-items">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
          <path d="M7.59961 6.47304V1.69336M17.159 6.47304V1.69336M6.40468 11.2527H18.3539M4.01484 23.2019H20.7437C21.3776 23.2019 21.9854 22.9502 22.4336 22.502C22.8818 22.0538 23.1336 21.4459 23.1336 20.8121V6.47304C23.1336 5.83922 22.8818 5.23135 22.4336 4.78317C21.9854 4.33499 21.3776 4.0832 20.7437 4.0832H4.01484C3.38102 4.0832 2.77315 4.33499 2.32497 4.78317C1.87679 5.23135 1.625 5.83922 1.625 6.47304V20.8121C1.625 21.4459 1.87679 22.0538 2.32497 22.502C2.77315 22.9502 3.38102 23.2019 4.01484 23.2019Z" stroke="black" stroke-width="1.72069" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <h3>{{ section.settings.title_3 }}</h3>
        <p>{{ section.settings.description_3 }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "USP Section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Shipping Information"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1",
      "default": "Try risk-free for 30 nights"
    },
    {
      "type": "textarea",
      "id": "description_1",
      "label": "Description 1",
      "default": "Enjoy Nora at home, return it for a full refund if you don't love it."
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2",
      "default": "Free shipping & returns"
    },
    {
      "type": "textarea",
      "id": "description_2",
      "label": "Description 2",
      "default": "Free shipping with no-cost, hassle-free returns."
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title 3",
      "default": "Worry-free warranty"
    },
    {
      "type": "textarea",
      "id": "description_3",
      "label": "Description 3",
      "default": "1-year warranty with option to extend up to 3 years."
    }
  ],
  "presets": [
    {
      "name": "USP Information"
    }
  ]
}
{% endschema %}
